[SddmGreeterTheme]
Name=DylanOS
Name[ar]=Debian نسيم
Name[be]=Debian Breeze
Name[bg]=Debian Breeze
Name[ca]=Debian Brisa
Name[ca@valencia]=Debian Brisa
Name[cs]=Debian Breeze
Name[en_GB]=Debian Breeze
Name[eo]=Debian Breeze
Name[es]=Debian Brisa
Name[eu]=Debian Breeze
Name[fr]=Debian Breeze
Name[he]=Debian בריזה
Name[hu]=Debian Breeze
Name[ia]=Debian Breeze (Brisa)
Name[is]=Debian Breeze
Name[it]=Debian Brezza
Name[ka]=Debian Breeze
Name[lt]=Debian Breeze
Name[nl]=Debian Breeze
Name[nn]=Debian Breeze
Name[pl]=Debian Bryza
Name[ro]=Debian Breeze
Name[sk]=Debian Vánok
Name[sl]=Debian Sapica
Name[ta]=Debian பிரீஸ்
Name[tr]=Debian Esinti
Name[uk]=Debian Breeze
Name[x-test]=Debian xxBreezexx
Name[zh_CN]=Debian Breeze 微风
Name[zh_TW]=Debian Breeze
Description=DylanOS Login Theme
Description[ar]=Debian نسيم
Description[be]=Debian Breeze
Description[bg]=Debian Breeze
Description[ca]=Debian Brisa
Description[ca@valencia]=Debian Brisa
Description[cs]=Debian Breeze
Description[en_GB]=Debian Breeze
Description[eo]=Debian Brizo
Description[es]=Debian Brisa
Description[eu]=Debian Brisa
Description[fr]=Debian Breeze
Description[he]=Debian בריזה
Description[hu]=Debian Breeze
Description[ia]=Debian Breeze (Brisa)
Description[is]=Debian Breeze
Description[it]=Debian Brezza
Description[ka]=Debian Breeze
Description[lt]=Debian Breeze
Description[nl]=Debian Breeze
Description[nn]=Debian Breeze
Description[pl]=Debian Bryza
Description[ro]=Debian Briză
Description[sk]=Debian Vánok
Description[sl]=Debian Sapica
Description[ta]=Debian பிரீஸ்
Description[tr]=Debian Esinti
Description[uk]=Debian Breeze
Description[x-test]=Debian xxBreezexx
Description[zh_CN]=Debian Breeze 微风
Description[zh_TW]=Debian Breeze
Author=DylanOS team
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/dylanneymarmontalvo2014-lgtm/DylanOS
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=dylanneymarmontalvo2014@gmail.com
Theme-Id=dylanos
Theme-API=2.0
QtVersion=6
