[Desktop Entry]
Name=DylanOS App Center
Comment=Centro de Aplicaciones de DylanOS
Exec=/usr/local/bin/dylanos-app-center
Icon=dylanos-app-center
Terminal=false
Type=Application
Categories=Utility;
