Package: dylanos-app-center
Version: 1.0.0-1
Architecture: amd64
Maintainer: Dylan Montalvo <dylan@dylanos.local>
Installed-Size: 7
Section: x11
Priority: optional
Description: Centro de Aplicaciones de DylanOS
 Launcher estilo Launchpad para DylanOS.
